/node_modules
.env
*.swp
*.swm
*.swn
*.swo
.DS_Store
.idea/
bootstrap/cache
/storage/
composer.lock
composer.phar
/vendor/
public/build
public/assets
public/apidoc
/npm-debug.log
/public/SaasApi/
/public/MicroApi/
apidoc.json
*package-lock.json
web-page/node-modules
web-page/config/dev.env.js
web-page/config/prod.env.js
wap-page/node-modules
wap-page/config/dev.env.js
wap-page/config/prod.env.js
wap-page/dist