.mainwrap {
    min-height: 580px;
}
.formwrapper {
    background-color: #fff;
}
.bg-black {
    background-color: #eee;
}
.form-text {
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    width: 100%;
}
.bootstrap-select .glyphicon.glyphicon-ok {
    right: -30px;
}
.return-space {
    margin-top: 30px;
}

/*
*七牛上传图片
*/
.m-92 {
    min-width:92px;
    text-align:right;
    vertical-align: top !important;
    line-height: 34px;
}

#picForm{
    position:relative;
    color: #f36;
    height: 80px;
    text-decoration: none;
    width: 80px;
    margin-bottom: 20px;
    
    &:hover{
        color:#e50039;
    }
    
    .img-add {
        width: 80px;
        height: 80px;
        background-color: #f5f5f5;
        vertical-align: middle;
        text-align: center;
        padding: 15px 0;
    
        .glyphicon {
            font-size: 20px;
        }
    }
    
    .upload-button {
        height: 80px;
        left: 0;
        position: absolute;
        top: 0;
        width: 80px;
        z-index: 99;
    }
    
    .form-control{
        top: 0;
        left: 0;
        position: absolute;
        opacity: 0;
        width: 100px;
        height: 100px;
        z-index: 3;
        cursor: pointer;
    }
}

#upload-result {
    margin-bottom: 10px;
}
.removeimg{
    position: absolute;
    left: 75px;
    bottom: 10px;
    font-size: 13px;
}
#appendsku{
    margin-left:40px;
    font-size:14px;
}

.qq-uploader {
    position: relative;
    width: 100%;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
}
.qq-upload-button{
    width:100px;
    height:100px;
    position:absolute !important;
}


/**
 * 后台管理首页
 */
.console {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    
    .avatar {
        width: 100px;
    }
    
    .messages {
        p {
            padding: 15px;
            margin-bottom: 10px;
        }
    }
}

.permission-message {
    background-color: #fff;
    padding: 60px;
}

.permission-list .item {
    border-bottom: 1px solid #eee;
    display: inline-block;
    padding: 10px 0;
    width: 49%;
}