/*单选框 statr*/
.ivu-radio-checked .ivu-radio-inner {
  border-color: #2d8cf0;
}

.ivu-radio-inner:after {
  background-color: #2d8cf0;
}
/*end*/

/*上传去除margin-bottom start*/
.mar-b-0 .ivu-form-item {
  margin-bottom: 0;
}
/*end*/

.text-center .ivu-table-cell {
  width: 100%;
  text-align: center;
}

/*创建订单产品表格居中*/
.ivu-table th {
  text-align: center;
}

.ivu-table td {
  text-align: center;
}

td.ivu-table-expanded-cell {
  padding: 20px 30px;
}

/*产品详情表格*/
.info .ivu-table th {
  height: 28px;
}

/*按钮颜色*/
.color-ff5a5f {
  color: #ffffff;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}

.color-ff5a5f:hover {
  opacity: .9;
  color: #ffffff;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}
/*end*/

/*多选框颜色*/
.ivu-checkbox-checked .ivu-checkbox-inner {
  border-color: #2d8cf0;
  background-color: #2d8cf0;
}
/*end*/

/*订单信息下th 靠左居中*/
.text-left td {
  text-align: left;
}


/*上传取消阴影*/
.ivu-btn-ghost:focus {
  box-shadow: 0 0 0 0
}

/*sku区间值颜色 / 靠左*/
.colorff5a5f {
  color: #FF5A5F;
}
.colorff5a5f2 {
  color: #FF5A5F;
}

.textLeft {
  text-align: left;
}

/*name:identifyShow*/
/*个人信息展示 statr*/
.testImg .ivu-modal-footer {
  display: none;
}

.testImg .ivu-modal-body {
  padding: 30px;
  text-align: center;
}

.testImg img {
  width: 220px;
}
/*end*/

.addOrder .ivu-table-row {
  height: 100px;
}

/*步骤条*/
.ivu-steps .ivu-steps-main {
  display: inline-block;
}

.ivu-steps-item.ivu-steps-status-process .ivu-steps-head-inner {
  background: #33BC44;
  border-color: #33BC44
}

.ivu-steps-item.ivu-steps-status-finish .ivu-steps-head-inner > .ivu-steps-icon, .ivu-steps-item.ivu-steps-status-finish .ivu-steps-head-inner span {
  color: #33BC44;
}

.ivu-steps-item.ivu-steps-status-finish .ivu-steps-head-inner {
  background-color: #fff;
  border-color: #33BC44;
}

.ivu-steps-item.ivu-steps-status-finish .ivu-steps-tail > i:after {
  width: 100%;
  background: #33BC44;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
/*end*/

/*input*/
.ivu-input:hover {
  border-color: #000;
}

.ivu-input:focus {
  border-color: #000;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
}

.ivu-btn:focus {
  box-shadow: 0 0 0 0
}

.register-button .ivu-btn:hover {
  color: #ffffff;
  background-color: #EC3A4A;
  border-color: #EC3A4A;
}

.ivu-select-selection:hover, .ivu-select-selection-focused {
  border-color: #000;
}

.ivu-select-visible .ivu-select-selection {
  box-shadow: 0 0 0 0
}

/*上传*/
.ivu-upload-select {
  border: none !important;
}

.ivu-upload {
  text-align: center;
  background:rgba(153,153,153,1);
  height: 120px;
}

.upload .ivu-icon {
  margin-top: 14px;
}


