/*字体*/
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-26 {
  font-size: 26px;
}

.font-28 {
  font-size: 28px;
}

.font-30 {
  font-size: 30px;
}

.font-32 {
  font-size: 32px;
}

.font-34 {
  font-size: 34px;
}

.font-36 {
  font-size: 36px;
}

.font-38 {
  font-size: 38px;
}

.font-40 {
  font-size: 40px;
}

.font-wei {
  font-weight: bold;
}
/*外边距*/
.margin-5 {
  margin: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-15 {
  margin: 15px;
}

.margin-20 {
  margin: 20px;
}

.margin-25 {
  margin: 25px;
}

.margin-30 {
  margin: 30px;
}


/*上边距*/
.margin-t-5 {
  margin-top: 5px;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-t-15 {
  margin-top: 15px;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-t-25 {
  margin-top: 25px;
}

.margin-t-30 {
  margin-top: 30px;
}

.margin-t-35 {
  margin-top: 35px;
}

.margin-t-40 {
  margin-top: 40px;
}

.margin-t-45 {
  margin-top: 45px;
}

.margin-t-50 {
  margin-top: 50px;
}


/*右边距*/
.margin-r-5 {
  margin-right: 5px;
}

.margin-r-10 {
  margin-right: 10px;
}

.margin-r-15 {
  margin-right: 15px;
}

.margin-r-20 {
  margin-right: 20px;
}

.margin-r-25 {
  margin-right: 25px;
}

.margin-r-30 {
  margin-right: 30px;
}

/*下边距*/

.margin-b-5 {
  margin-bottom: 5px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.margin-b-15 {
  margin-bottom: 15px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-b-25 {
  margin-bottom: 25px;
}

.margin-b-30 {
  margin-bottom: 30px;
}

.margin-b-35 {
  margin-bottom: 35px;
}

.margin-b-40 {
  margin-bottom: 40px;
}

.margin-b-55 {
  margin-bottom: 55px;
}

.margon-b-130 {
  margin-bottom: 130px;
}
/*左边距*/

.margin-l-5 {
  margin-left: 5px;
}

.margin-l-10 {
  margin-left: 10px;
}

.margin-l-15 {
  margin-left: 15px;
}

.margin-l-20 {
  margin-left: 20px;
}

.margin-l-25 {
  margin-left: 25px;
}

.margin-l-30 {
  margin-left: 30px;
}

.padd-b-15 {
  padding-bottom: 15px;
}

.padd-t-10 {
  padding-top: 10px;
}

.padd-t-15 {
  padding-top: 15px;
}

/*手势*/
.cursor {
  cursor: pointer
}

/*文本居中*/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.wid_100 {
  width: 100%;
}

.color_fff {
  color: #ffffff;
}

.color_666 {
  color: #666666;
}

.color_495_1 {
  color:rgba(73,80,95,1);
}

.color_495_08 {
  color:rgba(73,80,95,.8);
}

.color_333 {
  color: #333333;
}
.overflow {
  overflow: hidden;
}

.margin-auto {
  margin: 0 auto;
}

.wid-500 {
  width: 500px;
}

.display-b {
  display: block;
}

.ver-al-middle {
  vertical-align: middle;
}

.background-ed3a {
  background: #ED3A4A;
  color: #ffffff;
}
/* css 注释说明：设置了浏览器宽度不小于1200px时  显示1200px宽度 */
@media screen and (min-width: 1280px) {
  .container {width: 1280px}
}

 /*设置了浏览器宽度不大于1200px时  显示992px宽度 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 992px;
  }
}
/* 设置了浏览器宽度不大于992px,不小于769时  显示768px宽度 */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 768px;
  }
}
